# Jira
JIRA_BASE_URL=https://jiraeu.epam.com
JIRA_EMAIL=santhoshkumarreddy_kaladi@epam.com
JIRA_API_TOKEN=your_jira_pat_here
JIRA_PROJECT_KEY=EPMCDMETST

# Confluence
CONFLUENCE_BASE_URL=https://kb.epam.com
CONFLUENCE_EMAIL=santhoshkumarreddy_kaladi@epam.com
CONFLUENCE_API_TOKEN=your_confluence_pat_here
CONFLUENCE_SPACE_KEY=your_space_key

# Git
GIT_REPO_URL=https://github.com/KaladiSanthoshKumarReddy/capstone
GIT_BRANCH=main
GITHUB_TOKEN=your_github_pat_here

# App
FRONTEND_PORT=3000
BACKEND_PORT=4000
DATABASE_PATH=./data/capstone.db
